<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>About Me</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<!-- <body id="bg-img"> -->

<body>
    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <nav class="menu">
            <div class="menu-branding">
                <div class="portrait"></div>
            </div>
            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item current">
                    <a href="about.html" class="nav-link">
                        About me
                    </a>
                </li>
                <li class="nav-item">
                    <a href="work.html" class="nav-link">
                        Work
                    </a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">
                        Contact me
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="about">
        <h1 class="lg-heading">
            About <span class="text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">
            Let me tell you a few things...
        </h2>
        <div class="about-info">
            <img src="img/picture-2.jpg" alt="Desta Riani" class="bio-image">

            <div class="bio">
                <h3 class="text-secondary">BIO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod autem dolorum a quia repudiandae
                    deserunt facere distinctio cum, tempora odit accusamus, natus officiis eos laudantium nulla sequi?
                    Molestiae saepe quasi quod accusamus officia aliquid error eos eius dolores numquam, praesentium,
                    doloremque minima enim magni reiciendis aliquam. Rerum accusantium facilis, dolores nostrum
                    similique suscipit nemo facere veniam non sint adipisci necessitatibus corrupti. Nesciunt
                    accusantium vel aut quam, voluptatibus nam ducimus qui, natus amet doloribus cum deleniti a ad.
                    Enim, vero eum.
                </p>
            </div>

            <div class="job job-1">
                <h3>123 Webshop</h3>
                <h6>Full Stack Web Developer</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quo ratione voluptas ipsa
                    dignissimos reprehenderit tenetur mollitia et dolorum. Rerum.</p>
            </div>

            <div class="job job-2">
                <h3>Web Design</h3>
                <h6>Front End Developer</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aperiam quidem laborum saepe, iste
                    quod doloribus reprehenderit earum dolorem ullam!</p>
            </div>

            <div class="job job-3">
                <h3>Webworks and Illustrator</h3>
                <h6>Desaigner and Illustrator</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta quasi error tempore consequatur
                    nostrum fugit enim ratione dignissimos magnam sint!</p>
            </div>
        </div>
    </main>

    <footer id="main-footer">
        Copyright &copy; 2018
    </footer>

    <script src="js/main.js"></script>
</body>

</html>